$bgh:       #1d2021;
$bg:        #1e222a;
$bg1:       rgba(#2d3139, 0.3);
$bg2:       #2d3139;

$fgh:       #61afef;
$fg:        #a6accd;
$fg1:       #abb2bf;
$fg2:       #ffffff;

$red:       #e06c75;
$green:     #98c379;
$yellow:    #d19a66;
$orange:    #e5c07b;
$blue:      #61afef;
$purple:    #b16286;
$aqua:      #56b6c2;
$gray:      #928374;
